@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;
    }
}

.box {
    transition: all 0.5s;
    width: 300px;
    height: 300px;
    border-radius: 1000px;
}

* {
    user-select: none !important;
    -webkit-tap-highlight-color: transparent !important;
}

body {
    color: rgb(var(--foreground-rgb));
    background: white;
    overflow: hidden;
    font-family: "Montserrat", sans-serif !important;
}

::-webkit-scrollbar {
    display: none;
}

.number-appear-area {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.number-appear {
    position: absolute;
    animation: appear 1s forwards;
}

@keyframes appear {
    0% {
        opacity: 1;
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        transform: translateY(-300%);
    }
}

.coin {
    width: 300px;
    height: 300px;
}

@media screen and (max-height: 800px) {
    .coin {
        width: 250px;
        height: 250px;

    }
}


@media screen and (max-height: 700px) {
    .coin {
        width: 200px;
        height: 200px;

    }
}